@import "_variables.scss";
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        margin: 3%;
        padding:1em;
        list-style: none;
        font-weight: bold;
        font-size: 1.5em;
        &:hover{
            background-color: map-get($colors, call-to-action);
            color: map-get($colors, light);
            font-weight: bolder;
           
        }
    }
   
}
